# --- Windows and Mac files
[Tt]humbs.db
.DS_Store

# --- Packages
node_modules
vendor

# --- Root
/*
!.gitignore
!.ddev

# --- WordPress
!wp-content/
!index.php
!wp-config.php
!wp-config-ddev.php

# --- WP Content
wp-content/*
!wp-content/themes/
!wp-content/mu-plugins/
!wp-content/languages/
!wp-content/object-cache.php

# --- Themes
wp-content/themes/*
# Update this to match your theme name
!wp-content/themes/your-theme-name/
